body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  margin: 0;
}

.layout {
  
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.container-wrapper {
  min-height: 540px;
}

.job{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}
.job-image {
  width: 100px;
}

.user {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: justify;
}

.page-header{
  margin-top: 20px;
  text-align: center;
}

.content-header{
  margin-top: 100px;
  text-align: center;
}

.content-description{ 
  font-size: 26px;
  text-align: center;
  letter-spacing: 0.05em;
  width: 600px;
  margin: auto;
}

footer {
  background: #dcdcdc;
  padding: 40px;
  text-align: center;
}

.navbar {
  margin: 0;
}